.crossword-container {
    width: 100%;
    max-width: 600px;
    float: left;
    margin-right: 20px;
}

.yncw-crossword {
    width: 100%;
    font: 62.5%/1.3em Helvetica, sans-serif;
}

.yncw-crossword .yncw-vclues .yncw-clues-header {
    margin-top: 10px;
}

.yncw-crossword .yncw-blank,
.yncw-crossword .yncw-letter,
.yncw-crossword td {
    position: relative;
    border: 1px solid #ddd;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    outline: none;
    background-color: #f4f4f4;
}

.yncw-crossword div.yncw-blank,
.yncw-crossword div.yncw-letter {
    display: inline-block;
    float: left;
    overflow: hidden;
}

.yncw-crossword .yncw-letter span {
    color: #444;
    font-size: 1em; /* 0.80em */
    position: absolute;
    top: 0px;
    left: 1px;
}

.yncw-crossword td:after {
    content: "";
    display: block;
    width: 45px;
}

.yncw-crossword.blank-hidden .yncw-blank {
    border: none;
    visibility: hidden;
}

.yncw-crossword .yncw-blank {
    background: #273b44;
}

.yncw-crossword .yncw-letter input,
.yncw-crossword td input {
    width: 100%;
    height: 100%;
    padding: 0em;
    border: none;
    text-align: center;
    font-size: 3em;
    color: #666;
    background-color: #f4f4f4;
    outline: none;
}

.yncw-crossword .yncw-letter.highlight,
.yncw-crossword .yncw-letter.highlight input,
.yncw-crossword td.highlight input {
    background-color: #fff9c5;
}

.yncw-crossword .yncw-letter.special-tile,
.yncw-crossword .yncw-letter.special-tile input,
.yncw-crossword td.special-tile,
.yncw-crossword td.special-tile input {
    background-color: #fde9ab;
}

.yncw-crossword > div.yncw-row {
    clear: both;
    white-space: nowrap;
}

.yncw-crossword > div.yncw-row:after {
    content: "";
    display: block;
    clear: both;
}

.yncw-crossword > div.yncw-row div:first-child,
.yncw-crossword tr td:first-child {
    border-left-width: 1px;
}

.yncw-crossword > div.yncw-row:last-child div,
.yncw-crossword tr:last-child td {
    border-bottom-width: 1px;
}

table.yncw-crossword {
    /*width: 100%;*/
    border: 1px solid #273b44;
    border-spacing: 0;
}

.yncw-clue-container ul {
    list-style: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 5px;
}

.yncw-clue-container li.highlight {
    background: rgba(0, 150, 136, 0.4);
}